


/*
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: +7;
}

.sticky + .content {
  padding-top: 60px;
}
*/

/*---------------------INTRODUCTION-------------------*/



.section-why-us
{
    background-color: #f5f5f5;
}


















